body {
  background-color: #FFFFFF;
  color: #212121;
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.conainer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-serv,
.title-regular-customers,
.title-team {
  margin-top: 0px;
  margin-bottom: 50px;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .accent {
  color: #2196F3;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.site-nav .item {
  position: relative;
}

.site-nav .current {
  color: #2196F3;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav-icon {
  margin-right: 10px;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #2196F3;
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .link:focus, .contacts-nav .link:hover {
  color: #2196F3;
}

.contacts-nav .item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts-nav .item:not(:last-child) {
  margin-right: 30px;
}

.header-address {
  margin-left: auto;
}

.contacts-nav .header-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.contacts-nav .header-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  fill: #2196F3;
}

.button-hero {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover {
  background-color: #188CE8;
}

.title-hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
}

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #757575;
  padding-top: 0px;
  text-align: center;
  padding-bottom: 200px;
}

.qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qualities-name {
  width: 270px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  left: 1.14;
  text-transform: uppercase;
}

.paragraph {
  width: 270px;
  text-align: left;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantage-img-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  height: 120px;
}

.advantage {
  width: calc((100%-30px*3)/4);
  margin-right: 30px;
  margin-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-img {
  position: relative;
}

.services-image {
  display: block;
}

.section-services {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 70px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.services-img::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.services .item:not(:last-child) {
  margin-right: 30px;
}

.about-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-team .item:not(:first-child) {
  margin-left: 30px;
}

.team-employee {
  height: 422px;
  width: 270px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-profession {
  margin-top: 0px;
  margin-bottom: 16px;
}

.team {
  background-color: #F5F4FA;
}

.team-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-icon-img {
  height: 44px;
  width: 44px;
}

.team-icon-img:not(:last-child) {
  margin-right: 10px;
}

.team-icon-image {
  height: 20px;
  width: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.team-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  padding: 0px;
  margin: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover, .team-icon-link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.regular-customers-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  border: 2px solid #AFB1B8;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-logo:hover, .regular-customers-logo:focus {
  border-color: #2196F3;
}

.regular-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regular-logo:not(:last-child) {
  margin-right: 30px;
}

.customers-logo {
  width: 170px;
  height: 190px;
  fill: #AFB1B8;
  border: 2px;
}

.regular-customers-logo:hover .customers-logo,
.regular-customers-logo:focus .customers-logo {
  fill: #2196F3;
}

footer {
  background-color: #2F303A;
}

.logo.footer {
  margin-top: 0px;
  margin-bottom: 8px;
}

.logo-footer {
  color: #FFFFFF;
}

.address {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.title-footer {
  color: #FFFFFF;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-address {
  margin-right: 69px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-links {
  margin-top: 72px;
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

.footer-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  border: none;
  height: 44px;
  width: 44px;
  margin-top: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: #2196F3;
}

.footer-icons-link:not(:last-child) {
  margin-right: 10px;
}

.footer-ikon-img {
  fill: #FFFFFF;
}

.mailind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-mailind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 94px;
  padding-bottom: 94px;
}

.lable-mailing {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.input-mailing {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button-mailing {
  height: 50px;
  width: 200px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border-color: transparent;
}

.button-mailing-container {
  position: relative;
}

.icon-mailing {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-height: 581px;
  max-width: 528px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  display: block;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 448px;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 28px;
}

.form-field-input {
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.form-field-input:focus {
  border: 1px solid #2196F3;
}

.form-field-input:focus + .form-field-lable,
.form-field-input:not(:placeholder-shown) + .form-field-lable {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  left: 16px;
  color: #2196F3;
}

.form-field-lable {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-field-input:focus ~ .form-icon {
  fill: #2196F3;
}

.comment-textarea {
  height: 120px;
  width: 448px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  outline: none;
}

.comment-textarea:focus {
  border: 1px solid #2196F3;
}

.comment-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.comment {
  position: absolute;
  left: 16px;
  top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment-textarea:focus + .comment,
.comment-textarea:not(:placeholder-shown) + .comment {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  color: #2196F3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-field {
  margin-left: 52px;
  margin-right: 52px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.lable-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-text::before {
  content: '';
  height: 16px;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-text::before {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url("../images/icon-check .svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.button-submit {
  height: 50px;
  width: 200px;
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 40px;
  padding-left: 55px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  text-align: center;
  border-color: transparent;
  background-color: #2196F3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.button-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
/*# sourceMappingURL=main.css.map */