@import "./utils/variables";
@import "./components/general";
@import "./components/header-logo";
@import "./components/header-site-nav";
@import "./components/hero";
@import "./components/qalities";
@import "./components/services";
@import "./components/team";
@import "./components/regular-customers";
@import "./components/footer";
@import "./components/footer-icons";
@import "./components/footer-form";
@import "./components/backdrop";
@import "./components/modal";
