.button{
 color: $primary-text-color;
 background-color: $secondary-background-color; 
 border-color: $secondary-background-color; 
 font-family: inherit;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.6;
 text-align: center;
 letter-spacing: 0.03em;
 border-radius: 4px;
 height: 38px;
 padding-top: 6px;
 padding-bottom: 6px;
 padding-left: 22px;
 padding-right: 22px;
 box-shadow: none;
 transition: background-color 250ms $timing-function;

 &:hover,
 &:focus{
  background-color: $accent-color;
  color: $accent-color-white;
 }
}
  

  
.button-list{
 padding-bottom: 0;
}
  
.filter-button{
 display: flex;
 justify-content: center;

  .item:not(:last-child){
    margin-right: 8px;
   }
}
   

