footer{
 background-color: $footer-background-color;
}
   
.logo.footer{
 margin-top: 0px;
 margin-bottom: 8px;
}
   
.logo-footer{
 color: $accent-color-white;
}
   
.address{
 color: $accent-color-white;
 font-family: Roboto;
 font-weight: 400;
 font-style: normal;
 font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;
}
   
.footer-contacts{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.title-footer{
  color: $accent-color-white;
}

.footer-content{
 display: flex;
 
}
  
.footer-address{
 margin-right: 69px;
 margin-top: 60px;
 margin-bottom: 60px;
}
  
.footer-links{
 margin-top: 72px;
}
