body{ 
 background-color:#FFFFFF;
 color: $primary-text-color;
 margin: 0;
 font-family: Roboto, sans-serif;
 letter-spacing: 0.03em;
}
     
.list{
 padding: 0px;
 margin: 0px;
 list-style: none;
}
    
a{
 text-decoration: none;
}
    
    
.conainer{
 width: 1200px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 15px;
 padding-right: 15px;
}

.section{
 text-align: center;
 padding-top: 94px;
 padding-bottom: 94px;
}

.title-serv,
.title-regular-customers,
.title-team{
  margin-top: 0px;
  margin-bottom: 50px;
}