$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-background-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$footer-background-color: #2F303A;
$accent-color: #2196F3;
$accent-color-hover: #188CE8;
$accent-color-white: #FFFFFF;
$customers-logo: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);